/* main */

.main__desc {
    margin: 0 auto;
    width: 100%;
    font-family: 'Cafe24Ohsquare';
    font-size: 24px;
    padding: 80px 0 60px 0;
    text-align: center;

}
.select {
    width: 1240px;
    height: 550px;
    background-color: #fff;
    border-radius: 65px;
}
.select__inner {
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
}
.random {
    width: 300px;
    height: 440px;
    border-radius: 20px;
    /* background-color: #000; */
    border: 4px solid #F8CB53;
}
.random a > img {
    width: 100px;
    padding-top: 140px;
    display: block;
    margin: 0 auto;
}
.random a > span {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-family: 'Cafe24Ohsquare';
    padding-top: 20px;
    font-size: 22px
}

.emotion {
    width: 300px;
    height: 440px;
    border-radius: 20px;
    border: 4px solid #C8DF81;
}
.emotion a > img {
    width: 100px;
    padding-top: 140px;
    display: block;
    margin: 0 auto;
}
.emotion a > span {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-family: 'Cafe24Ohsquare';
    padding-top: 20px;
    font-size: 22px
}

.list {
    width: 300px;
    height: 440px;
    border-radius: 20px;
    border: 4px solid #B7E7CF;
}
.list a > img {
    width: 100px;
    padding-top: 140px;
    display: block;
    margin: 0 auto;
}
.list a > span {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-family: 'Cafe24Ohsquare';
    padding-top: 20px;
    font-size: 22px
}