/* main */

.main__desc {
    margin: 0 auto;
    width: 100%;
    font-family: 'Cafe24Ohsquare';
    font-size: 24px;
    padding: 80px 0 60px 0;
    text-align: center;
}

.random__view {
    width: 1180px;
    height: 600px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 65px;

    position: relative;
}
.random__inner {
    padding: 50px 100px;
    position: relative;
}
.random__inner button {
    position: absolute;
    top: 40px;
    right: 50px;
    width: 145px;
    height: 45px;
    background-color: #fff2e2;
    border: 2px solid #d8bfa0;
    display: block;
    border-radius: 50px;
}

.view__box {
    display: flex;
    padding-top: 60px;
}
.view__box > img {
    width: 360px;
}

.coffee {
    padding-left: 40px;
}
.coffee__name {
    font-family: 'Cafe24Ohsquare';
    font-size: 28px;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 2px solid #FFBB65;
}
.coffee__desc {
    padding: 20px;

    font-family: 'Cafe24Ohsquare';
    font-size: 18px;
    border-bottom: 1px solid #FFBB65;
}

.coffee__nutrition {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 16px;
    font-family: 'Cafe24Ohsquareair';
    border-bottom: 1px solid #FFBB65;
}

.bottom {
    display: flex;
    padding: 30px 20px;
    border-bottom: 1px solid #FFBB65;
}
.line_01{
    border-right: 1px solid #FFBB65;
    padding-right: 50px;
}   
.line_01 li {
    margin-bottom: 20px;
    font-family: 'Cafe24Ohsquareair';
    font-size: 16px;
    
}

.line_02{
    padding-left: 50px;
}   
.line_02 li {
    margin-bottom: 20px;
    font-family: 'Cafe24Ohsquareair';
    font-size: 16px;
    
}

.logo__view {
    width: 100px;
    position: absolute;
    bottom: 110px;
    right: 95px;
}

.random__inner .random__restart a {
    position: absolute;
    top: 5%;
    right: 5%;
    display: flex;
    margin-top: 2px;
    background-color: #f4fdd9;
    font-weight: normal;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 3px 3px 3px rgb(0 0 0 / 30%);
}

.random__inner .random__restart a>span {
    font-family: 'Cafe24Ohsquareair' !important;
    margin-right: 10px;
}

.random__inner .random__restart a>img {
    width: 20px;
    height: 20px;
}
